body {
    background: #A9D9D0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
header, footer {
    background: #027373;
    height: 150px;
    align-content: center;
    width: 100%;
}
header h1 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 5px;
    text-align: center;

}
main {
    background: white;
    width: 90vw;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
}
main section h1, h2 {
    text-align: center;
    background: linear-gradient(to right, #038C7F, rgba(255, 0, 0, 0));;
}
main section p {
    text-align: justify;
    text-indent: 10px;
}
footer p {
    text-align: center;
    color: white;
}
footer a {
    color: white;
}

@media screen and (min-width: 768px){
    main {
        width: 700px;
        
    }
}
@media screen and (min-width: 1920px){
    h1, h2 {
        font-size: 2em;
    }
    p {
        font-size: 1.5em;
    }
}